# SPDX-FileCopyrightText: 2018-2023 SAP SE or an SAP affiliate company and Cloud Security Client Java contributors
# SPDX-License-Identifier: Apache-2.0
---
name: Maven Build main

on:
  push:
    branches: [ main, main-dev]
  pull_request:
    branches: [ main, main-dev ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 17 ]
    name: Build with Java ${{ matrix.java-version }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
      - name: Build with Maven
        run: mvn -B install --file pom.xml
      - name: Run java-security integration tests
        run: cd java-security-it; mvn -B package --file pom.xml
      - name: Run spring-xsuaa integration tests
        run: cd spring-xsuaa-it; mvn -B package --file pom.xml
      - name: Build spring-security-basic-auth
        run: cd samples/spring-security-basic-auth; mvn -B package --file pom.xml
      - name: Build spring-security-xsuaa-usage
        run: cd samples/spring-security-xsuaa-usage; mvn -B package --file pom.xml
      - name: Build spring-webflux-security-xsuaa-usage
        run: cd samples/spring-webflux-security-xsuaa-usage; mvn -B package --file pom.xml
      - name: Build java-security-usage
        run: cd samples/java-security-usage; mvn -B package --file pom.xml
      - name: Build sap-java-buildpack-api-usage
        run: cd samples/sap-java-buildpack-api-usage; mvn -B package --file pom.xml
      - name: Build java-tokenclient-usage
        run: cd samples/java-tokenclient-usage; mvn -B package --file pom.xml
      - name: Build java-security-usage-ias
        run: cd samples/java-security-usage-ias; mvn -B package --file pom.xml
      - name: Build spring-security-hybrid-usage
        run: cd samples/spring-security-hybrid-usage; mvn -B package --file pom.xml
